.main-header {
    justify-content: center;
    display: flex;
}

h2, h3 {
    justify-content: center;
    display: flex;
    margin-top: 35px;
}






p {
    font-size: 20px;
    margin-top: 50px;
    text-align: left;
    margin-left: 150px;
    text-indent: 30px;
    line-height: 2;
    margin-right: 120px;

 
}

.shadowtext {
    text-shadow: 3px 3px 3px green;
    font-size: 24px;
    margin: auto;
}





.image-of-democrite {
    justify-content: center;
    display: flex;
    margin-top: 50px
}

.image-of-pudding_model_of_atom {
    justify-content: center;
    display: flex;
    margin-top: 50px
}

.image-of-lenard-model {
    justify-content: center;
    display: flex;
    margin-top: 50px    
}

.image-of-model_of_nagaoka {
    justify-content: center;
    display: flex;
    margin-top: 50px;  
}

.image-of-experiment {
    justify-content: center;
    display: flex;
    margin-top: 50px; 
}

.image-of-model_of_rezerford {
    justify-content: center;
    display: flex;
    margin-top: 50px; 
}

.image-of-model_of_bor {
    justify-content: center;
    display: flex;
    margin-top: 50px;  
}

.image-of-model_of_shredinger {
    justify-content: center;
    display: flex;
    margin-top: 50px; 
}

.quark-picture {
    justify-content: center;
    display: flex;
    margin-top: 50px; 
}






ul {
    justify-content: center;
    display: flex;
    margin-right: 20px;
}


.explanation {
    margin-right: 180px;
    margin-left: 180px;
}


ol {
    font-size: 19px;
    margin-left: 150px;
    margin-top: 40px;
    line-height: 2;
    margin-right: 120px;
}



